:root {
    --background-color: #EEFFC5;
    --button-color: #B8DEFF;
    --button-hover: #C9E5FD;
    --text-color: #474240;
    --title-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --body-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--background-color);
}

#title-page {
    display: grid;
}

#title-page h1 {
    color: var(--text-color);
    display: flex;
}

#title-page li {
    display: inline-block;
    list-style-type: none;
}

#title-page a {
    display: block;
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--text-color);
    text-align: center;
    line-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
}

#title-page a:hover {
    background-color: var(--button-hover);
}

#gameCanvas {
    border: 1.5px solid rgb(0, 0, 0);
    display: block;
    margin: auto;
}