:root {
    --background-color: #E3F7B6;
    --button-color: #B8DEFF;
    --button-hover: #C9E5FD;
    --text-color: #474240;
    --title-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --body-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
    --background-color: #3C4B35;
    --button-color: #393C93;
    --button-hover: #2B2E6E;
    --text-color: #E0E0E0;
    --title-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --body-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

body {
    background-color: var(--background-color);
    min-width: 640px;
}

#title-page {
    display: grid;
    justify-content: center;
    align-items: center;
}

#title-page header {
    display: flex;
    height: 40vh;
}

#title-page h1 {
    color: var(--text-color);
    font-size: 5rem;
    margin-top: 50%;
}

#title-page ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    padding-left: 0%;
}

#title-page li {
    list-style-type: none;
}

#title-page a {
    display: flex;
    justify-content: center;
    width: 13em;
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--text-color);
    font-size: 1.2em;
    line-height: 3.5em;
    margin-bottom: 1.5em;
}

#title-page a:hover {
    background-color: var(--button-hover);
}

#game-canvas {
    border: 1.5px solid rgb(0, 0, 0);
    display: block;
    margin: auto;
}